<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nuevas</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<header>
    <h1> catalogo 2020-2023</h1>
</header>

<body>
    <p>
        Sin embargo, montar una bicicleta rígida no se trata de puntos o podios, el énfasis debe estar en la diversión y
        la versatilidad: recorre un sendero central, practica algunos saltos en tierra, disfruta de algunas curvas
        arcillosas o arrasa con el freeride urbano. Lo queremos todo, pero ser un “experto en todos los oficios” puede
        resultar en no ser un maestro en nada, por lo que algunas marcas se centrarán en un estilo de conducción más
        específico.
        En estos días de suspensión trasera súper eficiente, las rígidas mantienen su estatus de culto, lo que no tiene
        nada que ver con ser la opción de bicicleta más práctica, son menos cómodas, tienen menos tracción, la elección
        de la línea es crítica y los errores no serán recompensados, pero de alguna manera encarnan todo lo bueno de
        andar en bicicleta.
    </p>
    <h2>
        en esta area dejaremos, las hardtail actuales que recomendamos y donde comprarlas
    </h2>
    <div class="contenedor1">
        <div class="nuevas">
            <a href="http://www.715ind.com/">715 ind</a>
            <img src="img/rsz_2dsc01821.jpg" alt="">
            <p>
                Modernidad, estabilidad y velocidad son los tres conceptos que mejor definen la propuesta de la empresa
                chilena, esto, ya que desean imponerse en el mercado del ciclismo con un cuadro que permite el guiado de
                cables internos para retráctil, un recorrido máximo de 180mm con aro 27,5 y de 160mm con aro 29, un
                ángulo de 64,5º de la horquilla y una longitud de 1203mm, envidiable en comparación a otros cuadros
                disponibles en el mercado.
            </p>
        </div>
        <div class="nuevas2">
            <a href="https://www.marinbikes.com/bikes/2021-san-quentin-2">marin san 2021-san-quentin-2</a>
            <img src="img/marin.jpg" alt="marin">
            <p>
                La bicicleta Marin San Quentin 2 es para el ciclista agresivo de senderos rígidos que busca una
                combinación entre capacidades de singletrack y tiempo de aire prolongado. El cuadro de aluminio Serie 3
                6061 presenta un estilo de cuadro inspirado en los dit jump, una geometría de sendero moderna,
                enrutamiento interno de cables y un eje de pedalier roscado.
            </p>
        </div>
        <div class="nuevas3">
            <a href="https://us.nukeproof.com/collections/scout-275/products/2022-scout-275-comp">nukeprof scout-275</a>
            <img src="img/1653486012_2022-nukeproof-scout-v3-hardtail-yellow.jpg" alt="nukeproof">
            <p>
                La Nukeproof Scout se considera una “rigida agresiva”, una categoría floreciente de bicicletas de
                montaña rígidas con una geometría cada vez más holgada y equipada con horquillas de suspensión de mayor
                recorrido. Con un ángulo del tubo de dirección de 65 grados y 150 mm de recorrido, la Scout 275
                (especificación “Pro” 2021) es una bicicleta rígida capaz que puede conquistar casi cualquier sendero
                técnico que un modelo de doble suspensión comparable pueda conquistar.
            </p>
        </div>
        <div class="nuevas4">
            <a href="https://www.norco.com/bikes/mountain/all-mountain/torrent/2023-torrent-s1-ht/">norco torrent
                2023</a>
            <img src="img/norco.jpg" alt="norco">
            <p>
                Una de las características más notables de la Norco Torrent es su robusto cuadro de aluminio o acero,
                dependiendo del modelo, que proporciona una gran durabilidad y resistencia a los impactos. Esto la hace
                adecuada para terrenos agrestes, desde senderos de montaña técnicos hasta descensos empinados. El diseño
                de su geometría le permite mantener un buen control en situaciones difíciles, brindando confianza al
                ciclista.

                El sistema de suspensión, que suele ser de alta calidad, absorbe los golpes y las irregularidades del
                terreno, ofreciendo un paseo suave y cómodo incluso en condiciones difíciles. Además, la Norco Torrent a
                menudo viene equipada con frenos de disco potentes, lo que garantiza una excelente capacidad de frenado,
                fundamental para el ciclismo de montaña.
            </p>
        </div>
        <div class="nuevas 5">
            <a href="https://dartmoor-bikes.com/hardware/funbike/hornet-26-2022">dartmoor 2022</a>
            <img src="img/dart.jpg" alt="dartmoor">
            <p>
                La Dartmoor Hornet es una bicicleta de montaña diseñada para aquellos que buscan una experiencia de
                trail y descenso emocionante y llena de diversión. Esta bicicleta se ha ganado una reputación sólida en
                la comunidad de ciclistas de montaña por su agilidad, versatilidad y capacidad para enfrentar terrenos
                técnicos.
                En resumen, la Dartmoor Hornet es una bicicleta de montaña diseñada para la diversión y la emoción en el
                trail y el descenso. Con su construcción sólida, geometría bien diseñada y capacidad versátil, es una
                elección excelente para ciclistas que buscan aventuras emocionantes en terrenos variados y desafiantes.
            </p>
        </div>
    </div>
</body>

</html>