*{
    margin: 0;
    padding: 0;
}


/* mobile first */
.productos img {
    width: 100%;
    height: auto;
    text-align: center;
}
.redes{
    position: fixed;
    top: 100px;

}
.contenedor1{
    text-align: center;
}
.contenedor1 img{
    width: 100%  ;
    height: auto;
    text-align: center;
}
.nuevas{
    display: grid;
    width: 200;
    height: 200;
    margin-bottom: 30px;
    object-fit: contain
}
.nuevas2{
    display: grid;
    width: 200;
    height: 200;
    margin-bottom: 30px;
    object-fit: contain;
}
.nuevas3{
    display: grid;
    width: 200;
    height: 200;
    margin-bottom: 30px;
    object-fit: contain;
}
.nuevas4{
    display: grid;
    width: 200;
    height: 200;
    margin-bottom: 30px;
    object-fit: contain;
}

.encabezadoretro{
    background-image: url(img/Snapinsta.app_377439930_630851012364888_2880292803410665877_n_1024.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    text-decoration: aqua;
    flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
    body{
        background-color: yellow;
    }
}

/* celulares */
@media (max-width:767px){
    .sugerencias_app{
        display: none;
    }
    .titulazo{
        display: grid;
        text-decoration: black;
        text-align: center;
        font-size: 20px;
        padding: 3rem;
    }
    .desco{
        text-decoration: black;
        text-align: center;
    }
     }
/* tablets */
@media screen and (min-width: 767px) {
    body{
        background-color: red;
    }
    .titulazo{
        display: grid;
        text-decoration: black;
        text-align: center;
        font-size: 30px;
    }
    .desco{
        text-decoration: black;
        text-align: center;
    }
     }
/* escritorio */
@media screen and (min-width: 950px) {

    body{
        background-color: aquamarine;
    }
    .titulazo{
        display: grid;
        text-decoration: black;
        text-align: center;
        font-size: 50px;
    }
    .desco{
        text-decoration: black;
        text-align: center;
    }
    .categorias{
        text-align: center;
    }
    
    
    .redes{
        position: fixed;
        top: 100px;
    
    }
    .nuevas{
        text-align: center;
    }
    .nuevas2{
        display: grid;
        width: 200;
        height: 200;
        margin-bottom: 30px;
        object-fit: contain;
    }
    .nuevas3{
        display: grid;
        width: 200;
        height: 200;
        margin-bottom: 30px;
        object-fit: contain;
    }
    .nuevas4{
        display: grid;
        width: 200;
        height: 200;
        margin-bottom: 30px;
        object-fit: contain;
    }
    *{
        box-sizing: border-box;
    }
    .encabezadoretro{
        background-image: url(img/Snapinsta.app_377439930_630851012364888_2880292803410665877_n_1024.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        text-decoration: aqua;
        flex-wrap: wrap;
    }
    .contenedor1 img{
        width: 80%  ;
        height: auto;
    }     
 }