<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>insua</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="https://www.instagram.com/jorgensua22/">instargram</a></li>
        <li><a href="https://www.facebook.com/avxisuoio/">facebook</a></li>
      </ul>
    </nav>
  </header>
  <!-- Comentario HTML-->
  <section>
    <h1>Jorge Salvador Insua</h1>
    <h2>acerca de mi </h2>
    <h3>datos</h3>
    <ol>
      <li>estudiante</li>
      <li>18 años</li>
      <li>web inicial</li>
    </ol>
    <h3>info</h3>
    <ul>
      <li>fecha nacimiento</li>
      <li>historial academico</li>
      <li>vocacion</li>
    </ul>
  </section>
  <div>
    <p>
      aficcionado a los deportes extremos y a la computacion, mundos totalmente opuestos pero igual de fascinantes. de
      nuñez, secundario recien completo sin rumbo fijo estoy aca creando mi primer codigo html, no puedo esperar a dejarlo lindo con el
      css
    </p>

    <body>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7decOL3eNMM?si=BttFAMqgWSoSk_Um"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </body>
    <footer>saludos..</footer>
</body>

</html>