<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rigidos</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="estilos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <header id="cabecera" class="encabezado">

  </header>
  <!-- Comentario HTML-->
  <section class="retro">
    <h1 id="titulo" class="titulazo">
      freeride hardtails
    </h1>
  </section>
  <div class="desco">
    <p>
      Cero problemas, igual disfrute. Las bicicletas hardtail de freeride son bicicletas muy divertidas, mas
      económicas(en algunos casos),
      mas ligeras y precisan mucho menos mantenimiento y quebraderos de cabeza que una doble supensión.
      <strong>en esta pagina encontraras todo relacionado a las bicicletas rigidas, ya sean retro, actuales, noticias,
        clasificados,componentes. todo para los amantes de las hardtails</strong>
    </p>
  </div>
  <div class="categorias">
    <h1>
      categorias
    </h1>
  </div>
  <section class="productos">
    <h2>
      <div>
        <div style="text-align: center;">
          <a href="retro.html">retro</a>
          <img src="img/retro.jpg" alt="">
        </div>
    </h2>
    <h2>
      <div style="text-align: center;">
        <a href="actuales.html">actuales</a>
        <img src="img/sttl.jpg" alt="">
      </div>
    </h2>
    <h2>
      <div style="text-align: center;">
        <a href="ventas.html">en venta</a>
        <img src="img/wsa2-overlay.jpg" alt="">
      </div>
      </div>
      </a>
    </h2>
  </section>
  <footer>
    <nav class="redes">
      <h3> nuestras redes</h3>
      <li><a href="https://www.instagram.com/hardtailowners/">instargram</a></li>
      <li><a href="https://www.facebook.com/hardtailattitude">facebook</a></li>
      <li><a href="contacto.html">contacto</a></li>
    </nav>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>