<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>freeride leyends</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="personajes.html">Personajes</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </nav>
    </header>
    <!-- Comentario HTML-->
    <section>
      <h1>leyendas del freeride</h1>
      <h2>epicos riders </h2>
      <h3>conoce quiernes son</h3>
      <ol>
        <li>josh bender</li>
        <li>tyler t klassen</li>
        <li>cam zink</li>
      </ol>
      <h3>info</h3>
      <ul>
        <li>Home</li>
        <li>Personajes</li>
        <li>Contacto</li>
        <li>Nosotros</li>
      </ul>
    </section>
    <div>
      <p>
        El Freeride o estilo libre es una modalidad del ciclismo de montaña donde los trucos y saltos son su mayor fuerte.
        Si hubiera una frase para describirla sería: saltos enormes. Consiste en hacer trucos, saltos en un descenso tanto artificial como natural. La competencia es evaluada por jueces que van puntuando al corredor dependiendo de la dificultad del truco. Dentro del FreeRide, también existe el SlopeStyle, que es muy visual y se considera un gran espectáculo donde los riders hacen saltos en pistas artificiales de tamaño descomunal.
      </p>
    </div>
    <footer>inscripciones abren 24/</footer>
  </body>
</html>