<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="estilos.css">
  <title>retro</title>
</head>
<header class="encabezadoretro">
  <h1>
    seccion retro
  </h1>
</header>

<body class="demo" style="font-size: 20px;">
  <p>
    pesadas,incomodas, difíciles de maniobrar,dificiles de conseguir, indestructibles. con ruedas de 26 pulgadas e
    incluso 24.
    extremadamente divertidas, debido a sus ruedas pequeñas pero anchas, sus exageradas proporciones ya sean tanto de
    suspensiónes, asientos enormes o ruedas y angulos de cuadros mortales
  </p>
  <strong>
    en esta seccion encontraras imagenes y videos de las mejores rigidas de la decada pasada y inicios de los
    2000
  </strong>
  <h6>
    una demostracion de nuestro amigo <a href="https://www.instagram.com/dis_hucker/">rob willis</a> de como se
    debe usar una rigida
  </h6>
  <iframe width="660" height="400" src="https://www.youtube.com/embed/etvVI64b_3w?si=ekUptMdQeO9CB78u"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen class="video1"></iframe>
  <h6>primer video regitrado de como se empezo el downhill urbano en rigidas,russ morrel </h6>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YUBcylm0F70?si=5mwp4TG-y8IPBRar"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen class="video2"></iframe>
</body>

</html>