<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body class="demo" style="font-size: 30px;">
    <h3>
      una demostracion de nuestro amigo <a href="https://www.instagram.com/dis_hucker/">rob willis</a> de como se
      debe usar una rigida al mas estilo hardcore
    </h3>
    <iframe width="660" height="400" src="https://www.youtube.com/embed/etvVI64b_3w?si=ekUptMdQeO9CB78u"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </body>
</html>