<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clasificados</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<header>
        <h1>
            usados/componentes
        </h1>
</header>
<body id="ventas" class="clasificados">
    <p>
        <strong>compra tu primera hardtail de seguda mano o hecha un vistazo a nuestro catalogo de coponentes disponibles a la venta</strong>
    </p>
</body>
</html>